recursive-include realesrgan_ncnn_vulkan_python/realesrgan-ncnn-vulkan/src *
include realesrgan_ncnn_vulkan_python/realesrgan-ncnn-vulkan/LICENSE
include realesrgan_ncnn_vulkan_python/realesrgan-ncnn-vulkan/README.md
